{% extends 'base.html.twig' %}

{% block title %}Hello ProfesseurController!{% endblock %}

{% block body %}
{# <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style> #}

<div id="listerprof" class="container mt-5">

    {# <h1>Hello {{ controller_name }}! ✅</h1> #}

    {# This friendly message is coming from: #}
    {# <div id="listerprof" class="container mt-5"> #}
  
 <div class="centre">
     <h1 class="hh1">Liste Professeur</h1>
     </div>
<table class="table table-hover ">
    <thead >
        <tr> 
            <th>Nom Complet</th>
            <th>Grade</th>
            <th>Sexe</th>
            <th>Action</th>
            <th>Modifier</th>
            <th>Details</th>
            
        </tr>
    </thead>
    <tbody>
        {% for prof in professeur %}
        
        <tr>
            <td>{{prof.nomComplet}}</td>
            <td>{{prof.grade}}</td>
            <td>{{prof.sexe}}</td>
            <td><a href="{{path('edit_professeur',{id:prof.id})}}"><button  class='btn btn-outline-warning' >Modifier</button></a></td>
            <td> <a href=""><button class='btn btn-outline-danger' >Supprimer</button></a></td>
            <td> <a href=""><button class='btn btn-outline-danger' >Détails</button></a></td>

                {# <button  class='btn btn-outline-warning'>Modifier </button> #}
                {# <form class="btn btn-outline" style="border:none;" action="" method="post">
                    <input type="hidden" name="id" value="">
                    <button class='btn btn-outline-danger' type="submit">Supprimer</button>
                </form> #}
            
        </tr>
             {% endfor %}
    </tbody>
</table>
 <a href="{{ path('add_professeur')}}" ><button style="width: 15em;" class='btn btn-outline-warning'>ajouter professeur  </button></a>

       <div class="d-flex justify-content-center">
        {% do professeur.setPageRange(10) %}
        {{knp_pagination_render(professeur,'pagination.html.twig')}}
        </div>
</div>
{% endblock %}
