
<!DOCTYPE html>

<html>
    <head>
       <meta charset="utf-8">
        <!-- importer le fichier de style -->
    <link rel="stylesheet" href="css/style.css"> 

        <link rel="stylesheet" href="style.css" media="screen" type="text/css" />
    </head>
    <body>
        <div id="container">
            <!-- zone de connexion -->
            
            
            <form action="{{ path('app_secutiry') }}" method="post">
                <h1>Connexion</h1>
                
                <label><b>Email d'utilisateur</b></label>
                 {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
                <input type="text"id="username" name="_username" value="{{ last_username }}" placeholder="Entrer le nom d'utilisateur" />

                <label><b>Mot de passe</b></label>
                <input name="_password" type="password" placeholder="Entrer le mot de passe" >

                <input type="submit" id='submit' value='LOGIN' >
                
            </form>
        </div>
    </body>
</html>













{# {% extends 'base.html.twig' %} #}

{# {% block title %}Hello UserController!{% endblock %}

{% block body %}
 {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %} #}

    {# <form action="{{ path('app_secutiry') }}" method="post">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}"/>

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password"/>

        {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"/> #}

        {# <button type="submit">login</button>
    </form> 
{% endblock %} #}
