{% extends 'base.html.twig' %}

{% block title %}Hello EtudiantController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{# <div class="example-wrapper"> #}
<div id="listerprof" class="container mt-5">

    <h1>Hello {{ controller_name }}! ✅</h1>

    
    {# <ul>
        <li>Your controller at <code><a href="{{ '/home/moustapha/Documents/Symfony1/POO/src/Controller/EtudiantController.php'|file_link(0) }}">src/Controller/EtudiantController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/moustapha/Documents/Symfony1/POO/templates/etudiant/index.html.twig'|file_link(0) }}">templates/etudiant/index.html.twig</a></code></li>
    </ul> #}

<h1 class="hh1">Lister Professeur</h1>
 
<table class="table table-hover ">
    <thead>
        <tr> 
            <th>Nom Complet</th>
            <th>matricule</th>
            <th>Sexe</th>
            <th>Adresse</th>

            <th>Action</th>
            
        </tr>
    </thead>
    <tbody>
        {% for etu in etudiant %}
        
        <tr>
            <td>{{etu.nomComplet}}</td>
            <td>{{etu.matricule}}</td>
            <td>{{etu.sexe}}</td>
            <td>{{etu.adresse}}</td>
           

            <td>
                <button  class='btn btn-outline-warning'>Modifier </button>
                <form class="btn btn-outline" style="border:none;" action="" method="post">
                    <input type="hidden" name="id" value="">
                    <button class='btn btn-outline-danger' type="submit">Supprimer</button>
                </form>
            </td>
        </tr>
             {% endfor %}
    </tbody>
</table>
       {# <div class="d-flex justify-content-center">
        {% do professeur.setPageRange(10) %}
        {{knp_pagination_render(professeur,'pagination.html.twig')}}
        </div> #}
</div>

    
</div>
{% endblock %}
